<% layout('layouts/boilerplate')%>

<div class="mb-6" id="cluster-map" crossorigin="anonymous"></div>
<h1>All campgrounds</h1>

<% if(campgrounds.length < 1) {%>
    <br>
    <p><b>No campgrounds</b></p>
  <% }%>
  <% if(!currentUser) {%>
    <p><a href="/login">Login</a> or <a href="/register">Sign Up</a> to add a review</p>
  <% }%>
<% for (let campground of campgrounds) {%>
    <div class="card mb-3">
        <div class="row">
            <% if(campground.images.length) {%>
                <div class="col-md-4">
                    <img class="img-fluid" src="<%= campground.images[0].thumbnail%>" alt="Camp_image">
                </div>
            <% } else {%> 
                <img src="" alt="">
            <% }%>
            <div class="col-md-8">
                <h5 class="card-title"><%= campground.title%></h5>
                <p class="card-text"><%= campground.description%></p>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location%></small>
                </p>
                <a href="campgrounds/<%= campground._id%>" class="btn btn-primary">View <%= campground.title%></a>
            </div>
        </div>
    </div>
<% }%>

<script>
    const maptilerApiKey = "<%= process.env.MAPTILER_API_KEY %>";
    const campgrounds = {
      type: "FeatureCollection",
      features: <%- JSON.stringify(geoCampgrounds) %>
    };
</script>
  
  
  
  
<script src="/javascripts/clusterMap.js"></script>